<div class="row">

	<% @stores.each do |store| %>
	<div class="col-sm-4">
		<div class="xe-widget xe-counter xe-counter-info" style="min-height:160px;max-height: 160px;overflow:hidden;">
			<div class="xe-icon">
				<i class="fa fa-building-o"></i>
			</div>
			<div class="xe-label">
				<strong class="num"><%= store.code %></strong>
				<span><%= store.name %></span>
				<hr>
				<div class="mt-10"></div>
				<%= link_to "Dashboard", store_manager_dashboard_path(store) %>
				<!-- <div class="mt-5"></div> -->
				<%#= link_to "Manage Stock", store_manager_stock_entries_path(store) %>
				<div class="mt-5"></div>
				<%= link_to "Upload new Stock", store_manager_stock_bundles_path(store) %>
			</div>
		</div>
	</div>
	<% end %>

</div>