<nav class="navbar user-info-navbar"  role="navigation"><!-- User Info, Notifications and Menu Bar -->
	
	<!-- Left links for user info navbar -->
	<ul class="user-info-menu left-links list-inline list-unstyled">
		
		<li class="hidden-sm hidden-xs">
			<a href="#" data-toggle="sidebar">
				<i class="fa-bars"></i>
			</a>
		</li>
		
	</ul>
	
	<!-- Right links for user info navbar -->
	<ul class="user-info-menu right-links list-inline list-unstyled">
		<li class="dropdown user-profile">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				
				<%= display_image(@current_user, "profile_picture.image.small.url", width: "32", height: "auto", class: "img-circle img-inline userpic-32", alt: @current_user.display_name) if @current_user %>
				
				<span>
					<%= @current_user.display_name if @current_user %>
					<i class="fa-angle-down"></i>
				</span>
				
			</a>
			
			<ul class="dropdown-menu user-profile-menu list-unstyled">
				<li>
					<a href="#settings">
						<i class="fa-wrench"></i>
						Settings
					</a>
				</li>
				<li>
					<a href="#profile">
						<i class="fa-user"></i>
						Profile
					</a>
				</li>
				<li>
					<a href="#help">
						<i class="fa-info"></i>
						Help
					</a>
				</li>
				<li class="last">
					<%= link_to raw("<i class='fa-lock'></i>Sign Out"), usman.sign_out_path, method: :delete %>
				</li>
			</ul>
		</li>
		
	</ul>
	
</nav>