<form method="get" action="/terminal_staff/<%= @terminal.id %>/search" enctype="application/x-www-form-urlencoded" data-remote="true">
	<input type="text" class="form-control input-lg" placeholder="Search..." name="query">
	<button type="submit" class="btn-unstyled">
		<i class="linecons-search"></i>
	</button>
</form>