<%= render :partial=>"vyapari/terminal_staff/dashboard/counts" -%>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-color panel-blue">

			<div class="panel-heading">
				<h3 class="panel-title">Saved Invoices</h3>
			</div>

			<div class="panel-body">
				<!-- Active Invoices -->
				<% active_invoices = @terminal.invoices.active.order("created_at DESC").page(1).per(10) %>
				<%= render :partial=>"vyapari/terminal_staff/dashboard/invoices", locals: { invoices: active_invoices } -%>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-color panel-gray">

			<div class="panel-heading">
				<h3 class="panel-title">Draft Invoices</h3>
			</div>

			<div class="panel-body">
				<!-- Draft Invoices -->
				<% draft_invoices = @terminal.invoices.draft.order("created_at DESC").page(1).per(10) %>
				<%= render :partial=>"vyapari/terminal_staff/dashboard/invoices", locals: { invoices: draft_invoices } -%>
			</div>
			
		</div>
	</div>
</div>

<%= clear_tag(60) %>